body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
    color: #fff;

    /* Two-layer background */
    background-image: url("snow.jpeg"), url("https://i.imgur.com/zYIlgBl.jpg");

    /* BACKGROUND LAYER 1: snow GIF */
    background-repeat: no-repeat, no-repeat;
    background-position: top center, center;
    background-size: contain, cover;

    background-blend-mode: lighten;
}

/* Center container */
.container {
    max-width: 90%;
    margin: 40px auto;
    background: rgba(0, 0, 0, 0.55);
    padding: 20px;
    border-radius: 15x;
    text-align: center;
    animation: fadeIn 1.6s ease-in-out;
}

.title {
    font-size: 32px;
    text-shadow: 3px 3px 10px #ff0000;
}

.attempts {
    font-size: 20px;
    margin-bottom: 15px;
}

.form {
    margin-top: 20px;
}

.input-box {
    padding: 12px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    background: #e60000;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background: #cc0000;
}

/* Wrong code message */
.message {
    color: #ffbbbb;
    font-size: 18px;
    margin-top: 15px;
}

/* Correct code animation */
.result-card {
    background: rgba(0, 0, 0, 0.55);
    padding: 25px;
    border-radius: 15px;
    animation: pop 1s ease-out forwards;
}

.santa-img {
    width: 180px;
    margin-bottom: 15px;
}

.name {
    font-size: 40px;
    color: #00ffea;
    text-shadow: 3px 3px 20px #00ffee;
}

/* Animations */
@keyframes pop {
    0% { transform: scale(0.2); opacity: 0; }
    60% { transform: scale(1.15); opacity: 1; }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to   { opacity: 1; transform: translateY(0); }
}


@media (max-width: 480px) {

    .title {
        font-size: 26px;
    }

    .result-card {
        padding: 15px;
    }

    .santa-img {
        width: 120px;
    }

    .name {
        font-size: 28px;
    }

    .input-box {
        font-size: 16px;
        padding: 10px;
    }

    .btn {
        font-size: 16px;
        padding: 10px;
    }
}